*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.map
*.orig
*.pyc
*.scssc
*.swp
*.un~
.#*
/requirements.txt
/.coverage.txt
/coverage.xml
/.coveralls.yml
/profile.json
profile.json
.DS_Store
.project
.pydevproject
.python-version
.ropeproject
/.coverage
/.idea
/.sass_cache/
/main/static/.webassets-cache/
/main/static/css/compiled/*
**/static/**/scss/compiled/*
/main/static/css/scss/.sass-cache
/main/static/gen/
/main/static/build/
/node_modules/
npm-debug.log
/reports
/screenshots/
/server_name.py
/settings/local.py
/tools/advisors/content
/unittest.profile
\#*\#
celerybeat.pid
nohup.out
screenlog.*
tags
*.lock
*.temp

